/*------------>> MEDIA QUERIES <<------------*/
/*------------>> Mobile <<------------*/
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%; 
	background: #fafafa; 
}

.input-field {
	width: 100%;
}

#map {
	height: 60%;
}

/*------------>> Tablet <<------------*/
@media (min-width: 415px) {

}
/*------------>> Web <<------------*/
@media (min-width: 769px) {

}